/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-100.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/montserrat-v15/montserrat-v15-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-100.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-100.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-100.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-100.svg#Montserrat") format("svg"); }

@font-face {
  font-family: 'Montserrat Hairline';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-100.eot");
  /* Safari, Android, iOS */
  /* Modern Browsers */
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Hairline"), url("../fonts/montserrat-hairline-cufonfonts-webfont/Montserrat-Hairline.woff") format("woff"); }

/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-100italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-100italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-100italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-100italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-100italic.svg#Montserrat") format("svg"); }

/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-200italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-200italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-200italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-200italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-200italic.svg#Montserrat") format("svg"); }

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-200.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/montserrat-v15/montserrat-v15-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-200.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-200.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-200.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-200.svg#Montserrat") format("svg"); }

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-300.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-v15/montserrat-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-300.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-300.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-300.svg#Montserrat") format("svg"); }

/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-300italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-300italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-300italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-300italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-300italic.svg#Montserrat") format("svg"); }

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-regular.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v15/montserrat-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-regular.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-regular.svg#Montserrat") format("svg"); }

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/montserrat-v15/montserrat-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-italic.svg#Montserrat") format("svg"); }

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-500.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v15/montserrat-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-500.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-500.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-500.svg#Montserrat") format("svg"); }

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-500italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-500italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-500italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-500italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-500italic.svg#Montserrat") format("svg"); }

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-600.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-v15/montserrat-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-600.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-600.svg#Montserrat") format("svg"); }

/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-600italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-600italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-600italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-600italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-600italic.svg#Montserrat") format("svg"); }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-700.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v15/montserrat-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-700.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-700.svg#Montserrat") format("svg"); }

/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-700italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-700italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-700italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-700italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-700italic.svg#Montserrat") format("svg"); }

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-800.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/montserrat-v15/montserrat-v15-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-800.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-800.svg#Montserrat") format("svg"); }

/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-800italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-800italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-800italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-800italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-800italic.svg#Montserrat") format("svg"); }

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-900.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat-v15/montserrat-v15-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-900.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-900.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-900.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-900.svg#Montserrat") format("svg"); }

/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
  src: url("../fonts/montserrat-v15/montserrat-v15-latin-900italic.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/montserrat-v15/montserrat-v15-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15/montserrat-v15-latin-900italic.woff2") format("woff2"), url("../fonts/montserrat-v15/montserrat-v15-latin-900italic.woff") format("woff"), url("../fonts/montserrat-v15/montserrat-v15-latin-900italic.ttf") format("truetype"), url("../fonts/montserrat-v15/montserrat-v15-latin-900italic.svg#Montserrat") format("svg"); }

nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

label {
  user-select: none;
  cursor: pointer; }

.pswp__caption__center {
  text-align: center; }

body {
  font-family: "Montserrat";
  color: #161615;
  font-size: 1rem;
  text-align: center;
  font-weight: 300; }

h2, .h2 {
  font-family: "Montserrat";
  font-size: 1.5625rem;
  letter-spacing: 0.15rem;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px; }

.element--header h2, .element--header .h2 {
  padding-top: 10px;
  padding-left: 0;
  margin-left: -10px; }

h4, .h4 {
  font-family: "Montserrat";
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem; }

h2::before, .h2::before {
  content: "";
  width: 181px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-bottom: 3px solid #D90915; }

figure {
  margin-bottom: 0; }

.element {
  position: relative;
  overflow: hidden; }
  .element:not(:last-child) {
    margin-bottom: 100px; }
  .element.is-full-width {
    position: relative;
    left: -50vw;
    margin-left: 50%;
    width: 100vw; }

.element--header:not(:last-child) {
  margin-bottom: 30px; }

.element--divider hr {
  margin: 0; }

.element--text-media {
  overflow: visible; }
  .element--text-media--content {
    margin-bottom: 30px; }
  .element--text-media .badge {
    position: absolute;
    right: -26px;
    bottom: -26px;
    width: 100px;
    height: 100px;
    padding: 0; }

.element--text-highlight .row .row div[class*="col-"]:not(:first-child):after {
  content: "";
  position: absolute;
  top: -15px;
  right: 15px;
  left: 15px;
  height: 1px;
  background: #000; }

.element--slider-content--images:not(.slick-initialized) .element--slider-content--images--item:not(:first-child) {
  display: none; }

.element--slider-content--images--item figure img {
  width: 100%; }

.element--slider-content--content {
  color: #fff;
  background: #1D1D1B; }
  .element--slider-content--content:not(.slick-initialized) .element--slider-content--content--item:not(:first-child) {
    display: none; }
  .element--slider-content--content--item {
    padding: 25px;
    padding-bottom: 55px;
    color: #fff;
    background: #1D1D1B; }
    .element--slider-content--content--item .btn {
      display: block;
      width: 100%;
      margin-bottom: 15px; }
      .element--slider-content--content--item .btn:first-child {
        margin-top: 30px; }
      .element--slider-content--content--item .btn:last-child {
        margin-bottom: 0; }

.element--slider-content .slider-controls {
  display: block;
  width: 100%;
  padding: 40px 15px;
  color: #fff;
  background: #1D1D1B; }
  .element--slider-content .slider-controls--inner:after {
    background: #fff; }

.element--slider-gallery--left {
  margin-top: 30px; }
  .element--slider-gallery--left:not(.slick-initialized) .element--slider-gallery--left--item:not(:first-child) {
    display: none; }

.element--slider-gallery--right {
  margin-bottom: 30px; }
  .element--slider-gallery--right:not(.slick-initialized) .element--slider-gallery--right--item:not(:first-child) {
    display: none; }

.element--slider-gallery figure {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: calc(885 / 820 * 100%); }
  .element--slider-gallery figure img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
    min-height: 0;
    max-height: none;
    object-fit: cover;
    font-family: "object-fit: cover;"; }

.element--slider-products {
  overflow: visible; }
  .element--slider-products--products {
    margin-left: -10px;
    margin-right: -10px; }
    .element--slider-products--products:not(.slick-initialized) .element--slider-products--products--item {
      display: none;
      width: 50%;
      float: left; }
    .element--slider-products--products:not(.slick-initialized) .element--slider-products--products--item:nth-child(1),
    .element--slider-products--products:not(.slick-initialized) .element--slider-products--products--item:nth-child(2) {
      display: block; }
    .element--slider-products--products .element--slider-products--products--item {
      padding-left: 10px;
      padding-right: 10px; }

.element--list-buttons ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .element--list-buttons ul li:not(:last-child) {
    margin-bottom: 15px; }

.element--list-buttons .btn {
  position: relative;
  padding-left: 60px;
  padding-right: 30px;
  text-align: left;
  transition: all 250ms ease; }
  .element--list-buttons .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icons/arrow-right.svg);
    transition: all 250ms ease; }
  .element--list-buttons .btn:not(:disabled):not(.disabled):active, .element--list-buttons .btn:not(:disabled):not(.disabled).active {
    color: #000;
    background: none;
    border-color: #000; }
  .element--list-buttons .btn:hover {
    padding-left: 75px;
    padding-right: 15px;
    color: #000;
    background: none; }
    .element--list-buttons .btn:hover:before {
      transform: translate(15px, 0); }

.element--info-prices--inner {
  padding: 15px;
  color: #fff;
  background: #000; }

.element--info-prices--item {
  text-align: center; }
  .element--info-prices--item strong {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1.4375rem;
    line-height: 1.21739;
    letter-spacing: 0.12em; }
  .element--info-prices--item span {
    display: block; }
  .element--info-prices--item .price {
    margin-top: 30px;
    font-family: Mada, sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.33333;
    letter-spacing: 0.1em; }

.element--info-prices .row div[class*="col-"] {
  margin-top: 15px; }
  .element--info-prices .row div[class*="col-"]:first-child {
    margin-bottom: 15px; }

.element--table-prices .table {
  white-space: nowrap;
  color: #000; }
  .element--table-prices .table th, .element--table-prices .table td {
    vertical-align: middle; }
  .element--table-prices .table thead tr th {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.21739;
    letter-spacing: 0.12em;
    border: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000; }
    .element--table-prices .table thead tr th:first-child {
      padding-left: 0;
      text-align: left;
      border-left: none; }
  .element--table-prices .table tbody tr td {
    padding: 15px;
    text-align: center;
    border-left: 1px solid #000; }
    .element--table-prices .table tbody tr td strong {
      display: block;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: 1.4375rem;
      line-height: 1.21739;
      letter-spacing: 0.12em; }
    .element--table-prices .table tbody tr td:first-child {
      padding-left: 0;
      text-align: left;
      border-left: none; }
  .element--table-prices .table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #000; }
  .element--table-prices .table tfoot tr td {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.21739;
    letter-spacing: 0.12em;
    border: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000; }
    .element--table-prices .table tfoot tr td:first-child {
      padding-left: 0;
      text-align: left;
      border-left: none; }

.editor-post-title .editor-post-title__input {
  text-transform: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.275;
  letter-spacing: 0.05em; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-transform: none; }

header > span, header h1, header .h1, header h2, header .h2, header h3, header .h3, header h4, header .h4, header h5, header .h5, header h6, header .h6 {
  text-transform: none; }

.btn {
  text-transform: none; }

@media (min-width: 768px) {
    h2, .h2 {
      padding: 30px; }
    .element--header h2, .element--header .h2 {
      margin-left: 0;
      padding-left: 30px; }
    .element--header:not(:last-child) {
      margin-bottom: 40px; }
      .element--text-media .badge {
        right: -54px;
        bottom: -54px;
        width: 170px;
        height: 170px; }
    .element--text-highlight .row .row div[class*="col-"]:not(:first-child):after {
      top: -20px; }
        .element--slider-content--content--item .btn {
          display: inline-block;
          width: auto;
          margin-bottom: 0;
          margin-right: 15px;
          margin-top: calc(40px - 1em); }
          .element--slider-content--content--item .btn:first-child {
            margin-top: calc(40px - 1em); }
    .element--slider-content .slider-controls {
      padding-bottom: 0;
      color: #1D1D1B;
      background: none; }
      .element--slider-content .slider-controls--inner:after {
        background: #1D1D1B; }
    .element--slider-gallery--left {
      margin-top: 60px; }
    .element--slider-gallery--right {
      margin-bottom: 60px; }
  .element--slider-gallery .slider-controls {
    position: absolute;
    right: 0;
    bottom: 0; }
  .element--info-prices .row div[class*="col-"] {
    margin-top: 30px; }
    .element--info-prices .row div[class*="col-"]:not(:first-child):after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      background: #fff; }
    .editor-post-title .editor-post-title__input {
      font-size: 2.5rem; } }

@media (min-width: 992px) {
      .element:not(:last-child) {
        margin-bottom: 220px; }
      .element--text-media--content {
        margin-bottom: 0; }
      .element--text-media .badge {
        right: -26px;
        bottom: -26px;
        width: 100px;
        height: 100px; }
  .element--slider-content {
    margin-left: 0;
    margin-right: 0; }
  .element--slider-content--images {
    width: 110%; }
      .element--slider-content--content--item {
        padding: 50px;
        padding-bottom: 80px; }
        .element--slider-products--products:not(.slick-initialized) .element--slider-products--products--item {
          width: 25%; }
      .element--slider-products--products:not(.slick-initialized) .element--slider-products--products--item:nth-child(3),
      .element--slider-products--products:not(.slick-initialized) .element--slider-products--products--item:nth-child(4) {
        display: block; }
    .editor-post-title .editor-post-title__input {
      font-size: 1.875rem; } }

@media (min-width: 1200px) {
      .element--text-media .badge {
        right: -55px;
        bottom: -55px;
        width: 170px;
        height: 170px; }
  .element--text-highlight .row .row {
    margin-left: -80px;
    margin-right: -80px; }
  .element--text-highlight .row .row div[class*="col-"] {
    padding-left: 80px;
    padding-right: 80px; }
    .element--text-highlight .row .row div[class*="col-"]:not(:first-child):after {
      top: 0;
      bottom: 0;
      right: auto;
      left: 0;
      width: 1px;
      height: auto; }
  .element--text-highlight header {
    margin-bottom: 0;
    text-align: right !important; }
    .element--slider-content .slider-controls {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0; }
    .element--slider-gallery--left {
      margin-top: 120px; }
    .element--slider-gallery--right {
      margin-bottom: 120px; }
      .element--list-buttons ul li:not(:last-child) {
        margin-bottom: 30px; }
    .element--list-buttons .btn {
      padding-top: 27px;
      padding-bottom: 23px; }
    .element--info-prices--inner {
      padding: 50px; }
    .editor-post-title .editor-post-title__input {
      font-size: 2.5rem; } }
